/* Estilo base do corpo e do container */
body {
    background-color: #F8F8FF;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    max-width: 640px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo do título principal */
h1 {
    font-size: 42px;
    color: #000000;
    margin-bottom: 40px;
}

/* Estilo dos subtítulos */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 500;
}

/* Estilo das imagens */
.images {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens se movam para a linha seguinte se não caberem em uma linha */
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.images img {
    max-width: 100%; /* Garante que a imagem não exceda a largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Estilo da imagem ao ser clicada (efeito de zoom) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Animação de zoom */
@keyframes zoom {
    from { transform: scale(0.1); }
    to { transform: scale(1); }
}

/* Estilo do botão de fechar */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo das seções dos tópicos com cores diferentes */
.artesanato-tradicional {
    background-color: #c888cb; /* Ajuste a cor conforme necessário */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.artesanato-contemporaneo {
    background-color: #f87e60; /* Ajuste a cor conforme necessário */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.arte-popular {
    background-color: #cdc2fe; /* Ajuste a cor conforme necessário */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.trabalhos-manuais {
    background-color: #faf2e9; /* Ajuste a cor conforme necessário */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.design-artesanal {
    background-color: #fcf377; /* Ajuste a cor conforme necessário */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
}

.artes-plasticas {
    background-color: #7dfc77; /* Ajuste a cor conforme necessário */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 2%;
}

/* Estilo do parágrafo */
p {
    margin-top: 10px;
    font-size: 16px;
}

/* Adapta o layout para telas pequenas */
@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .images img {
        max-width: 100px; /* Ajusta o tamanho das imagens para telas menores */
    }
}
